.Battle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* for battle background */
    background-image: url(/images/maps/StreetBattle.png);
    /* to fill the canvas */
    background-size: cover;
    image-rendering: pixelated;
}


/* scalling the images */

.Battle_hero,
.Battle_enemy {
    position: absolute;
    transform: scale(2);
    /* croping the images  */
    width: 32px;
    height: 32px;
    overflow: hidden;
    /* shadows for characters */
    background: url(/images/characters/shadow.png) no-repeat no-repeat;
}

.Battle_hero img,
.Battle_enemy img {
    pointer-events: none;
}


/* hero placement on the map */

.Battle_hero {
    bottom: 57px;
    left: 1px;
}


/* for hero to face up */

.Battle_hero img {
    transform: translateY(-64px);
}


/* enemy placement on the map */

.Battle_enemy {
    top: 42px;
    right: -1px;
}